.comments {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: rem-calc(49) 0 rem-calc(41);
    box-shadow: 0 0 30px #ffeef0;
    //box-shadow: 0 0 30px #facdc1f3;//временно, не вижу цвет

    &__title {
        font-size: 36px;
        line-height: 28px;
        font-weight: 500;
    }

    &__swiper-container {
        width: rem-calc(220);
    }    

    &__swiper-wrapper {
        margin-top: rem-calc(24);
    }

    &__swiper-button {
        position: absolute;
        top: 50%;
        left: rem-calc(-24);

        width: rem-calc(49);
        height: rem-calc(27);
        
        z-index: 10;
        cursor: pointer;

        svg {
            fill: #ff8091;
        }
        
        &_prev {
            transform: rotate(180deg);
        }

        &_next {
            left: rem-calc(210);
        }
    }

    &__swiper-slide {
        display: flex;
        justify-content: center;
    }
}

@include breakpoint(large) {

    .comments {
        padding: 0;
        padding-top: rem-calc(42);
        padding-bottom: rem-calc(34);

        &__swiper-container {
            width: rem-calc(770);
        }
        
        &__swiper-wrapper {
            margin-top: rem-calc(56);
        }

        &__swiper-button {

            width: rem-calc(66);
            height: rem-calc(36);
            margin-top: rem-calc(15);

            svg {
                width: rem-calc(66);
                height: rem-calc(36);
            }

            &_prev {
                left: rem-calc(-30);
            }

            &_next {
                left: rem-calc(846);
            }

        }
    }
    
}