.one-comment {
    //margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: rem-calc(190);
        
    &__photo {
        margin-bottom: rem-calc(18);
        width: 100%;
        flex-shrink: 1;

        width: rem-calc(82);
        height: rem-calc(82);
    }

    &__name {
        width: 100%;
        margin-bottom: rem-calc(10);

        font-size: rem-calc(18);
        line-height: rem-calc(22);
        font-weight: bold;
        text-align: center;
    }

    &__link {
        width: 100%;
        margin-bottom: rem-calc(16);

        font-size: rem-calc(16);
        line-height: rem-calc(22);
        color: #ff8091;
        text-align: center;
    }

    &__text {
        width: 100%;
        max-height: rem-calc(285);

        font-size: rem-calc(14);
        line-height: rem-calc(22);
        font-weight: 400;
        font-style: italic;
        color: #000000;
        text-align: center;
    }

}

@include breakpoint(large) {

    .one-comment {
        //margin: 0 auto;
        width: rem-calc(238);
        //height: rem-calc(311);
        
        &__photo {
            margin-bottom: rem-calc(16);
            width: 100%;
            flex-shrink: 1;
    
            width: rem-calc(82);
            height: rem-calc(82);
        }
    
        &__name {
            margin-bottom: rem-calc(6);
            font-weight: 400;
        }
    
        &__link {
            margin-bottom: rem-calc(10);
            font-weight: 300;
        }
    
        &__text {
            
        }    
    }
    
}